*{
  -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
          box-sizing:border-box;
          margin: 0;
          padding: 0;
}
/*navBar start*/
.nav-dd-container{
  position: fixed;
  width: 100%;
  background: white;
  border-radius: .5em;
  border-bottom: 1px solid #97A2A7;
}
.dd-logo{
  display: none;
  border-radius: 1em;
  height: 2.5em;
  width: 2.5em;
}
.dd-container{

}
.dd-navs{
  display: none;
  border-radius: 5px;
  width: 100%;
  list-style: none;
}
.dd-nav{
  border-radius: 5px;
  font-family: open sans;
  color: #697175;
  border-bottom: 1px solid #ABB3B9;
  background-color: white;
  width: 100%;
  text-align: left;
}
.navBar{
  width: 100%;
  position: fixed;
}
.navBar-container{
  display: flex;
  justify-content: space-around;
}
.logo-img{
  height: 1.5em;
  width: 1.5em;
  border-radius: 1em;
  border: .2em solid white;
}
.logo{
  padding-top: .3em;
  text-shadow: 1px 1px 1px #000;
  font-family: open sans;
  font-size: 1.5em;
  color:white;
  display: inline;
  justify-content: flex-start;
}
#technologies{
  text-shadow: 1px 1px 1px #000;
  font-size: .7em;
  font-family: open sans;
  color:#ABB3B9;
}
.navs{
  display: flex;
  justify-content: flex-end;
}
.nav{
  font-family: open sans;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.2em;
  padding-left: .5em;
  padding-right: .5em;
  padding-top:15px;
  color:white;
  display: inline;
}
.navBar-bg{
  width: 100%;
  position: fixed;
  background-color:#FFFFFF;
  border-radius: 0px 0px 5px 5px;
  border-bottom: 2px solid lightgrey;
}
.logo-bg{
  font-family: open sans;
  font-size: 1.5em;
  color:#697175;
  display: inline;
  justify-content: flex-start;
}
#technologies-bg{
  font-size: .7em;
  font-family: open sans;
  color:#ABB3B9;
}
.navs-bg{
  display: flex;
  justify-content: flex-end;
}
.nav-bg{
  font-family: open sans;
  font-size: 1.2em;
  padding-left: .5em;
  padding-right: .5em;
  padding-top:15px;
  color:#97A2A7;
  display: inline;
}
.bars{
  color: #97A2A7;
  display: none;;
  font-size: 2.6em;
  position: relative;
  float: right;
  clear: right;
  padding-right: .3em;

}
.bars:hover{
  color: grey;
}
/*navBar end*/

/*header start*/
.header{
  background-color: rgb(75,75,75);
  width: 100%;
  height: 30em;
  background-image: url(header-logo.png);
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  /*background-blend-mode: darken;*/
}
.header-container{
  position: static;;
  padding-top: 10em ;
}
.header-text{
  font-family: open sans;
  text-shadow: 1px 1px 1px #000;
  font-size:7em;
  text-align: center;
  color:white;
}
.header-h3{
  text-shadow: 1px 1px 1px #000;
  color:white;
}
.orange-text{
  color: #FF803A;
}
.green-text{
  color: #BDD436;
}
.center{
  text-align: center;
}
.container-learn-more{
  display: flex;
  justify-content: center;
}
.myButton {
  margin-top: 10px;
  width: 340px;
	background-color:#BBD545;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #BBD545;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.5em;
	padding:16px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#B7EA8B;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*header end*/

/*hiw start*/
.hiw-container{
    background-color: #EEEEEE;
    padding-bottom: 1em;
}
.hiw{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hiw-text{
  color:#728488;
  padding-top: 1em;
  padding: 1em;
  text-indent: 1em;
  max-width: 25em;
  font-size: 1.5em;
}
.pencilwrench-container{
  display: flex;
  justify-content: center;
  margin-top:1em;
}
.pencilwrench{
  max-width: 5em;
  max-height: 5em;
}
.hereshiw{
  font-family: open sans;
  font-weight:;
  color:#728488;
  /*text-shadow: 1px 1px 1px #000;*/
  font-size: 2em;
  text-align: center;
}
/*hiw end*/

/*hiwd start*/
.hiwd-container{
  display: flex;
  justify-content: center;

}
.hiwd-item{
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: auto;
  /*border: 1px solid red;*/
}
.lightbulb{
  margin: auto;
  width: 10em;
}
.lightbulb-text{
  margin-top: 1em;
  color: #97A2A7;
}
.arrow{
  margin: auto;
  max-width: 10em;
  padding-top: 2em;
}
.arrow-text{
  color: #97A2A7;
}
.power{
  margin: auto;
  max-width: 10em;
  padding-top: 2em;
}
.power-text{
  margin-top: 1em;
  color: #97A2A7;
}
.inline{
  display: inline-block;
}
.learn-about{
  /*margin-bottom: 10em;*/
  padding-top: .5em;
  color: #BDD436;
  text-align: center;
}
.la-arrow{
  color: #97A2A7;
  font-size: 3em;
  text-align: center;
}
/*hiwd end*/


/*media queries*/
@media only screen and (min-width: 1000px){
  .hiw-text{
    max-width: 80%;
  }
}
@media only screen and (max-width: 719px) {
  .header-text{
    font-size: 3em;
  }
  #technologies{
    display: none;
  }
  .logo{
    display: none;
  }
  #technologies-bg{
    display: none;
  }
  .logo-bg{
    display: none;
  }
  .myButton{
    font-size: .7em;
    width: 180px;
  }
  .logo-img{
    margin-top: .3em;
    height: 2em;
    width: 2em;
  }
}
@media only screen and (max-width: 700px) {
  .hiwd-container{
    flex-direction: column;
  }

}

@media only screen and (max-width: 620px){
  .navBar{
    width: 1px;
    font-size: 0px;
  }
  .logo-img{
    display: none;
  }
  .navBar-bg{
    width:1px;
    font-size: 0px;
  }
  .dd-logo{
    display: inline-block;
  }
  .bars{
    display: inline-block;
  }

  /*.navs{
    display: none;
  }
  .navs-bg{
    display: none;
  }
  .bars{
    padding-left: 10em;
    display: block;
  }
  .bars-bg{
    padding-left: 10em;
    display: block;
  }*/
}
